<iframe src="https://player.vimeo.com/video/231010823?autoplay=1&loop=1&color=c9ff23&portrait=0" width="1365" height="768" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/231010823">Elevator Pitch BarberApp</a> from <a href="https://vimeo.com/user70357823">Christian Vera</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
<p>Elevator Pitch para proyecto de Taller de Proyecto de Infraestructura y Taller de proyecto de Software</p>